.small-icon {
  padding-top: 8px;
  width: 60px;
  height: auto;
}

.main-wrapper {
  padding: 10px;
}

.main-wrapper h1 {
  color: #3465a4;
}

.navbar {
  width: 300px;
  display: inline-block;
  float: left;
  padding-right: 10px;
  color: #3465a4;
}

.navbar ul {
  text-align: left;
  font-size: 1.1em;
  color: #555555;
}

.navbar li {
  text-decoration:none;
  cursor: pointer;
  cursor: hand;
}

.main-content {
  display: inline-block;
  width: 73%;
  height: auto;
}

.player {
  padding-bottom: 20px;
}

.search-box {
  align-content: flex-end;
}
