body {
  background-color: #eeeeee;
  cursor: default;
}

.intro {
  background-color: #dfdfdf;
  padding-top: 15px;
  padding-left: 40px;
  user-select: none;
  text-align: left;
  color: #666666;
}

.intro a {
  text-decoration: none;
}

.intro strong {
  color: #3465a4;
  font-family: 'Righteous', cursive;
  font-size: 35px;
}

.seperator {
  width: 30%;
  margin-left: 0;
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #bbbbbb;
  padding: 0;
}

.intro-desc {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.categories {
  user-select: none;
  padding-top: 20px;
  width: 90%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

.categories h1 {
  color: #3465a4;
  text-align: center;
}

.categories-item {
  display: inline-block;
  cursor: pointer;
  -webkit-app-region: no-drag;
  text-align: center;
  padding-top: 20px;
  width: 33%;
}

.categories-item:hover {
  color: #3465a4;
}

.categories-item img {
  -webkit-user-drag: none;
  width:120px;
  height: auto;

}
